.posts-list
    md-whiteframe.md-whiteframe-z1(layout, layout-align="left center")
        md-list
            md-list-item(ng-repeat='post in listDir.posts', ng-if="can('read', 'post', post)")
                single-post(post="post")
