head
  base(href="/")
  title Forum-Steganum
body(ng-app='forumSteganum', ng-controller="AppCtrl as appCtrl")
  header(ui-view="header")
  div.main(ui-view="main")
  footer(ui-view="footer")
  div.build-info(ng-if="appCtrl.buildInfo")
    p Build Info
    p(ng-if="appCtrl.buildInfo.branch")
      span Branch:
      span(ng-bind="appCtrl.buildInfo.branch")
    p(ng-if="appCtrl.buildInfo.date")
      span Date:
      span(ng-bind="appCtrl.buildInfo.date")
    p(ng-if="appCtrl.buildInfo.number")
      span Number of Build:
      span(ng-bind="appCtrl.buildInfo.number")
    p(ng-if="appCtrl.buildInfo.id")
      span Id of Build:
      span(ng-bind="appCtrl.buildInfo.id")
    p(ng-if="appCtrl.buildInfo.tag")
      span Tag:
      span(ng-bind="appCtrl.buildInfo.tag")
