head
  base(href="/")
  title Todo List
body(ng-app='forumSteganum')
  header(ui-view="header")
  md-whiteframe.md-whiteframe-z1(layout, layout-align="center center")
    div(ui-view="main")
  footer(ui-view="footer")
