html {
  background-color: #EFEFEF;
  body {
    background-color: #EFEFEF;

    .main, footer {
      @media @laptop,
      @desktop {
        margin: 0 auto;
        width: 1000px;
      }
    }

    md-whiteframe {
      background-color: white;
      margin: 10px;
      min-height: 50%;
      padding: 10px;
    }

    // taka ogólna klasa dla itemów, które można kliknąć (ściemnia się po najechaniu kursorem)
    .selectable {
        cursor: pointer;
        transition: background-color 1s ease;

        &:hover {
            background-color: #ddd;
        }
    }
  }
}
