.single-section
    md-whiteframe.md-whiteframe-z1(layout, layout-align="left center")
        .container(ui-sref="section.one.show({ section_id: singleDir.section._id })")
            h3 {{ singleDir.section.name }}
            p {{ singleDir.section.description }}
