.roles-admin
  md-whiteframe.md-whiteframe-z1(layout="column", layout-align="center center")
    div.header-roles(layout="row", layout-align="space-between center")
      div.left(layout="row", layout-align="space-between center")
        p Default role:
        md-select(ng-model="rolesA.defaultRole", aria-label="default role")
          md-option(ng-repeat="role in rolesA.roles" ng-value="role")
            | {{ role.name }}
        md-button.md-raised.md-primary(ng-click="rolesA.saveDefaultRole()", ng-disabled="rolesA.isDefaultChanged()") Save default role
      md-button.center.md-raised.md-primary(ng-click="rolesA.addNewRole()") Add new role
      md-button.right.md-raised.md-primary(ng-click="rolesA.saveRoles()", ng-disabled="rolesA.isRoleSelected()") Save selected roles
    div(layout="column")
      .row(layout="row" layout-align="space-between center")
        .title(flex="5")
        .title(flex="10") Name
        .title(flex="20") Create
        .title(flex="20") Read
        .title(flex="20") Update
        .title(flex="20") Delete
        .title(flex="5")
      .row(layout="row" layout-align="space-between center" ng-repeat="role in rolesA.roles",
            ng-class="{ 'updated-row': role.updated }", ng-if="role.name != 'admin'")
        .cell(flex="5")
          md-checkbox(ng-model="role.selected", aria-label="role select", ng-disabled="!role.updated")
        .cell(flex="10")
          md-input-container
            input(type="text", ng-model="role.name", ng-change="rolesA.roleModified(role)", aria-label="role name")
        .cell(flex="20")
          role-can(role="role", property="create")
        .cell(flex="20")
          role-can(role="role", property="read")
        .cell(flex="20")
          role-can(role="role", property="update")
        .cell(flex="20")
          role-can(role="role", property="remove")
        md-icon(flex="5", ng-click="rolesA.removeRole(role)" aria-label="remove user", md-svg-icon="action:ic_delete_24px")
