md-whiteframe.topic-form.md-whiteframe-z1(layout="column", layout-align="center center")
    .title
        h2 Create new topic
        h4 in section '{{ new.section.name }}'
    form(ng-submit="topicsCtrl.topic.create(new.topic, new.topic.section_id)", layout="column")
        md-input-container
            input(type="text" ng-model="new.topic.name"
                    placeholder="topic name" aria-label="Topic name")
        md-input-container
            input(type="description" ng-model="new.topic.description"
                    placeholder="description" aria-label="Description")
        div.md-warn.error-container(ng-show="new.error")
            small {{ new.error }}
        md-button.md-raised.md-primary(type="submit" aria-label="Create topic") Create
