.section-topics
    navigation(section-id="{{ showSectionCtrl.id }}")
    
    md-whiteframe.md-whiteframe-z1(layout, layout-align="left center")
        md-list
            md-list-item(ng-repeat="topic in showSectionCtrl.topics", ng-if="can('read', 'topic', topic)")
                .md-list-item-text(ui-sref="topic.posts({topic_id: topic.id, page_number: 1})")
                    h3 {{ topic.name }}
                    p {{ topic.description }}
                .icon-area
                    md-icon.edit(md-svg-icon="image:ic_edit_24px", ui-sref="topic.edit({topic_id: topic.id})")
                    md-icon.delete(md-svg-icon="action:ic_delete_24px", ui-sref="topic.delete({topic_id: topic.id})")
                md-divider(ng-if="!$last")
    md-button.md-raised.md-primary.submit(ui-sref="topic.new") Create new topic
