.section-topics {
    md-whiteframe {
        position: relative;
        padding: 0;

        md-list {
            padding: 0;
            width: 100%;

            md-list-item {
                width: 100%;
                padding: 0;

                .md-list-item-text {
                    width: 100%;
                    padding: 20px 0 20px 20px;
                    .selectable(#ddd);
                }
            }
        }
    }
}
