.section-topics
    md-whiteframe.md-whiteframe-z1(layout, layout-align="left center")
        ul
            li(ng-repeat="topic in showSectionCtrl.topics")
                p {{ topic.name }}
                p {{ topic.description }}
