div(style="background-color: red;")
  md-icon(md-svg-icon="content:ic_clear_24px")
  md-icon(md-svg-icon="communication:ic_clear_24px")
  a(ui-sref="home") Home
  a(ui-sref="todos") Go to todos
  a(ui-sref="posts") Go to Forum
