md-toolbar.md-primary
    div.md-toolbar-tools
        .buttons-container
            md-button(ui-sref="home")
                md-icon(md-svg-icon="action:ic_home_24px")
                .title Home
            md-button(ui-sref="section.list")
                md-icon(md-svg-icon="navigation:ic_menu_24px")
                .title Forum
            md-button(ui-sref="login", ng-hide="currentUser")
                md-icon(md-svg-icon="social:ic_person_24px")
                .title Sing in
            md-button(ui-sref="profile", ng-show="currentUser")
                md-icon(md-svg-icon="social:ic_person_24px")
                .title {{currentUser.username}}
            md-button(ng-click="headCtrl.logout()", ng-show="currentUser")
                md-icon(md-svg-icon="action:ic_exit_to_app_24px")
                .title Sign out
        span(flex)
        .logo(ui-sref="home")
            h1.big Forum
            h1.small F
            md-icon(md-svg-icon="communication:ic_vpn_key_24px")
            h1.big Steganum
            h1.small S
