md-toolbar.md-primary
    div.md-toolbar-tools    
        .buttons-container
            md-button(ui-sref="home")
                md-icon(md-svg-icon="action:ic_home_24px")
                .title Home
            md-button(ui-sref="section.list")
                md-icon(md-svg-icon="navigation:ic_menu_24px")
                .title Forum
            md-button(ui-sref="posts")
                md-icon(md-svg-icon="communication:ic_forum_24px")
                .title Posts
        span(flex)
        .logo(ui-sref="home")
            h1.big Forum
            h1.small F
            md-icon(md-svg-icon="communication:ic_vpn_key_24px")
            h1.big Steganum
            h1.small S
