.md-toolbar-tools {
    padding: 0;

    .md-button {
        display: flex;
        height: 100%;
        margin: 0;
        padding: 10px 30px;

        md-icon {
            margin-right: 10px;
        }

        .title {
            display: inline-block;
        }
    }

    .logo {
        cursor: pointer;
        display: flex;
        margin-right: 30px;

        md-icon {
            height: 48px;
            margin: 5px 10px 0 10px;
            width: 48px;
        }

        h1 {
            font-size: 48px;
            font-weight: 700;
            margin: 0;
        }
    }
}
