form {
  label {
    span {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    input, textarea {
      padding: 5px;
    }
  }
  .error-container {
    color: @form-error;
    margin-bottom: 10px;
    text-align: center;
  }
}

md-input-container.md-icon-float.md-input-focused, md-input-container.md-icon-float.md-input-has-value {
  margin-top: 0px;
}
