// taka ogólna klasa dla itemów, które można kliknąć (ściemnia się po najechaniu kursorem)
.selectable(@target-color; @time: 1s) {
    cursor: pointer;
    transition: background-color @time ease;

    &:hover {
        background-color: @target-color;
    }
}

.box-sizing(@sizing) {
    -webkit-box-sizing: @sizing;    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: @sizing;       /* Firefox, other Gecko */
    box-sizing: @sizing;            /* Opera/IE 8+ */
}
