div
    div(ng-hide='live.editEnabled')
        span {{ live.field }}
        button(ng-click='live.startEditing()') Edytuj
    div(ng-show='live.editEnabled')
        input(type='{{live.inputType}}' ng-model='live.field')
        button(ng-click='live.save()') Zapisz
