.file-chooser {
    display: inline-block;

    .upload-button {
        margin: 0;

        input#file-input {
            display: none;
        }
    }

    .file-name {
        margin: 0;
        font-size: 0.8em;
    }

    .icon-area .delete, .file-name {
        position: static;
        display: inline-block;
    }
}
