div
    span.text
        strong {{ singleDir.section.name }}
        | - {{ singleDir.section.description }}

md-content
    md-list
        md-subheader.md-no-sticky 3 line item
        md-list-item.md-3-line(ng-repeat="item in todos")
            img.md-avatar(ng-src="{{item.face}}?{{$index}}" alt="{{item.who}}")
            div.md-list-item-text(layout="column")
                h3 {{ item.who }}
                h4 {{ item.what }}
                p  {{ item.notes }}
        md-divider
        md-subheader.md-no-sticky 2 line item
        md-list-item.md-2-line
            img.md-avatar(ng-src="{{todos[0].face}}?20" alt="{{todos[0].who}}")
            div.md-list-item-text
                h3 {{ todos[0].who }}
                pSecondary text
        md-divider
        md-subheader.md-no-sticky 3 line item, long paragraph (see on mobile)
        md-list-item.md-3-line
            img.md-avatar(ng-src="{{todos[0].face}}?25" alt="{{todos[0].who}}")
            div.md-list-item-text
                h3 {{ todos[0].who }}
                p Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
        md-divider
        md-subheader.md-no-sticky md-offset class
        md-list-item.md-2-line(ng-repeat="phone in phones")
            md-icon(md-svg-icon="communication:phone" ng-if="$index === 0")
            div.md-list-item-text(ng-class="{'md-offset': $index != 0 }")
                h3 {{ phone.number }}
                p {{ phone.type }}
