.menu-left
  md-menu-content(width="3")
    md-menu-item(ui-sref="admin.users")
      md-button
        span(md-menu-align-target)
          | Users
    md-menu-item(ui-sref="admin.roles")
      md-button
        span(md-menu-align-target)
          | Roles
.admin-content
  div(ui-view="")
