footer {
    md-whiteframe {
        md-list {
            md-list-item.md-3-line {
                .md-list-item-text {
                    font-size: 12px;
                    h3 {
                        line-height: 1em;
                    }
                    .links {
                        a {
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
        img {
            margin: 15px;

            &.github {
                margin: 0;
                width: 20px;
                height: 20px;
                margin-left: 5px;
            }
        }
    }
}
