.profile {
  .form-container, md-whiteframe {
    width: 100%;
  }
  .title {
    margin-left: 20px;
  }
  md-input-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .prof-button {
    margin-left: 20px;
  }
  .cats, .names, .dogs {
    @media @tablet,
    @laptop, @desktop {
      height: 80px;
    }
  }
  .username-form, .email-form {
    height: 140px;
    .input-row {
      height: 80px;
    }
  }
}
