md-whiteframe.md-whiteframe-z1(layout, layout-align="left center")
  form.new-post(ng-submit="postCtrl.post.add(new.post); newPost='';")
    label
      span Add new post
      textarea(ng-model='new.post', type='text', name='text', placeholder='Type to add new posts')
    submit
    md-button.md-raised.md-primary.submit(type="submit") Submit
