form.new-post {
    width: 100%;
    padding: 10px;
    @media @phone, @tablet {
        padding-right: 20px;
    }

    textarea {
        min-height: 50px;
        width: 100%;
        resize: vertical;

        margin: 5px 0;
        border: 1px solid #ACACCC;
        border-radius: 3px;
        padding: 5px;
        .box-sizing(border-box);

        @media @phone, @tablet {
            width: 100%;
        }
    }

    .md-button.submit {
        display: block;
        margin: 15px 0 0 0;
    }
}
