// nie narzekaj, że używam id-ków, bo są mi potrzebne w module steganograficznym
form#new-post-form {
    width: 100%;
    padding: 10px;
    @media @phone, @tablet {
        padding-right: 20px;
    }

    textarea#new-post-text {
        min-height: 50px;
        width: 80%;
        resize: vertical;

        margin: 0px;
        border: 1px solid #ACACCC;
        border-radius: 3px;
        padding: 5px;
        .box-sizing(border-box);

        @media @phone, @tablet {
            width: 100%;
        }
    }

    .md-button.submit {
        display: block;
        margin: 15px 0 0 0;
    }
}
