.single-post
    .md-list-item-text
        .author
            strong {{ listDir.post.findOwner(post).username }} 
        .post
            live-edit(object="post", update-when="can('update', 'post', singleDir.post)", on-save="listDir.post.update(post)", input-type="text")
            img(ng-if="post.image_id" src="{{ singleDir.postImage() }}" data-image-id="{{ post.image_id }}")
            .status
                small {{ post.createdAt | date: 'EEEE, dd MMMM yyyy' }} 
                small at {{ post.createdAt | date: 'HH:mm' }} 
    .icon-area
        md-icon.delete(md-svg-icon="action:ic_delete_24px", ng-click="listDir.post.delete(post)"
        ng-if="can('remove', 'post', singleDir.post)")
    md-divider(ng-if="!$last")
