md-whiteframe.topic-form.md-whiteframe-z1(layout="column", layout-align="center center")
    .title
        h2 Edit topic '{{ edit.topic.name }}'
        h4 in section '{{ edit.section.name }}'
    form(ng-submit="topicsCtrl.topic.update(edit.topic)", layout="column")
        md-input-container
            input(type="text" ng-model="edit.topic.name"
                    placeholder="topic name" aria-label="Topic name")
        md-input-container
            input(type="description" ng-model="edit.topic.description"
                    placeholder="description" aria-label="Description")
        div.md-warn.error-container(ng-show="new.error")
            small {{ edit.error }}
        .inset(layout="row" layout-align="center")
            md-button.md-raised.md-primary(type="submit" aria-label="Update topic")
                | Update topic
            md-button.md-raised(aria-label="Cancel" ui-sref="section.one.show({ section_id: edit.topic.section_id })")
                | Cancel
